/TB_Chest_Radiography_Database/*
TB_Chest_Radiography_Database
archive.zip
2_training_with_noise/X*
2_training_with_noise/y*
3_denoising_techniques/X*
3_denoising_techniques/y*
4_changing_cnn_model/X*
6_assessing_metrics/denoised_images
6_assessing_metrics/denoised_images_test
6_assessing_metrics/original_images
6_assessing_metrics/original_images_test
